{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>야민정음 beta v0.1</title>
    <link rel="stylesheet" href="{% static 'css/js-snackbar.css' %}">
</head>
<style>
    div#title{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div#contents{
        margin:0 auto;
        text-align: center;
    }

</style>
<body>
    <script src="{% static 'js/js-snackbar.js' %}"></script>

    <!-- ui는 수정 예정!!! -경록- -->
    <!-- 얘들아 살아있니?..-->
    <div id="title">
        <h1>야 민 정 음</h1><h4>(이라 쓰고 망한 프로젝트라고 말함)</h4>
    </div>
    <div id="contents">
        <label for="source_string">변환할 글자를 입력하세요!!</label>
        {#    todo request delay 적용 필요  #}
        <br><textarea name="source_string" id="source_string" cols="30" rows="10"></textarea>
        <br><button id="translate_btn" onclick="fetch_translate(this.value)">야민정음으로 변환.</button>
        <br><textarea name="result_string" id="result_string" cols="30" rows="10"></textarea>
        <br><button onclick="copy()">결과를 클립보드에 복사</button>
    </div>
        

<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function fetch_translate(obj) {
        // 야민정음 변환 함수 구현 필요함..
        fetch('get_split_korean', {
            method: 'post',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json',
                "X-CSRFToken": getCookie('csrftoken')
            },
            body: JSON.stringify(obj)
        })
        .then(
            function (res) {
                res.json().then(
                    function (text) {
                        // 입력한 글자를 야민정음 변환 함수로 넘겨서 받는 부분
                        document.getElementById("result_string").value = text['translate_result'];
                    })
        })
        .catch(

        )
    }

    // todo JS alert가 아닌 toast message로 전환하기, 확인.
    function copy() {
        const text = document.getElementById("result_string");
        text.select();
        document.execCommand("copy");
        (function() {
            SnackBar({
                message: "클립보드에 복사 되었습니다.",
                status: "success",
                timeout: 3000
            })
        })();
        
    }



</script>
</body>
</html>
