<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>야민정음 beta v0.1</title>
</head>
<body>
    <label for="source_string">Source string</label><textarea name="source_string" id="source_string" cols="30" rows="10"></textarea>
    <label for="result_string">Result string</label><textarea name="result_string" id="result_string" cols="30" rows="10"></textarea>
    <button onclick="javascript:copy()">결과를 클립보드에 복사</button>

    <script>
        function copy(){
            const text = document.getElementById("result_string");
            text.select();
            document.execCommand("copy");
            alert("클립보드에 복사 되었습니다.");
        }
    </script>
</body>
</html>